header{
    background-color: aquamarine;
    padding:auto
}
body{
    background-color: aqua;
}
ul{
    display:flex;
    margin: auto;
    list-style-type: none;
    list-style: none;
    text-align: center;
    justify-content: space-evenly;
}

a{
    text-decoration: none;
    color:black
}
li{
    display:flex;
    flex-flow: row wrap;
    padding: 10px;

}
h1{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: solid;
    color:red
}
.foto-principal{
    display:flex;
    align-items: center;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}


.fuente{
    display:flex;
    justify-content: center;
    padding-top: 3rem;


}
h2{
    font-family: Arial, Helvetica, sans-serif;
    display:flex;
    justify-content: center;
}
h3{ 
    font-weight: normal;
}

.contacto{
    display:flex;
    display:block;
    justify-content:start;
}

.contacto2{
    display:flex;
    justify-content: center;
}

.contacto3{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contacto4 {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    border-radius: 8px;
}

.contacto4 label, .contacto4 input, .contacto4 textarea, .contacto4 button{
    width: 100%;
    margin-bottom: 10px;

}

